<h3>Instructions</h3>
<ol>
<li>Please read the <b>dialogue</b> (top right), <b>each player's view</b> and <b>selection</b> (bottom right) carefully to understand how they found the common dot.</li>
<li>Select one of the <span style="background-color:yellow;"><b>highlighted markables</b></span> from the dialogue box.</li>
<li>Based on the dialogue context, <b>click on the dots in the speaker's view</b> which are <b>most likely referred to by that markable.</b></li>
<ul>
    <li> Make sure you understand the <b>whole dialogue context</b> before selecting the dots!</li>
    <li> If the markable is not referring to any dots, you don't need to select any dots.</li>
	<li> If the referents are ambiguous but predictable, please put a check on <b>Ambiguous</b> and select all possible candidates.</li>
    <li> If the referents are not predictable at all, please put a check on <b>Unidentifiable</b> (this should rarely be used).</li>
    <li> Finally, push the <span style="color:green;"><b>Save Button</b></span> and move on to annotate other markables.
    	<!--This will change the markable's color to <span style="background-color:lime;">Normally Annotated</span>, <span style="background-color:violet;">Ambiguous</span> and <span style="background-color:tomato;">Unidentifible</span>.-->
    </li>
</ul>
<li value="4">When you are done annotating all of the markables, you will be able to <span style="color:tomato;"><b>Finish Annotation</b></span> and submit your HIT!
</li>
</ol>
