<html>
    <head>
        <title>Thank You!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <style>
            #content > p {
                font-size:20px;
            }
        </style>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    </head>
    <body>
    <div id="content">
        <h2>Find the Dots in Dialogue!</h2>
        <p><b>Sorry, you have previously annotated this chat. Please check a different HIT! </b></p>
    </div>
    </body>
</html>